@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {
  --text-color: #FFFFFF;
  --accent-color: #64ffda;
  --gameover-color: #FFFFFF;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #0a192f;
    font-family: 'Oswald', sans-serif;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px;
}

header, footer {
   margin: 0;
   padding:0;
}

header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
    width: 100%;
    max-width: 300px;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

h1, .accent, p span, #score {
    color: var(--accent-color);
}

#score {
    display: inline-block;
}

p {
    font-size: 0.9em;
    text-align: center;
    line-height: 1em;
}

.alert {
    color: var(--gameover-color);
}

svg {
    fill: #64ffda;
}