@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {
  --text-color: #FFFFFF;
  --accent-color: #64ffda;
  --gameover-color: #FFFFFF;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #0a192f;
    font-family: 'Oswald', sans-serif;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

h1, h3, .accent, p span, #score {
    color: var(--accent-color);
}

.container {
    display: flex;
    justify-content: center;
}

.parent {
    display: flex;
  flex-direction: column;
  height: 100%;
    margin-left: 20px;
}

.end {
    align-self: flex-end;
}

canvas {
    display: block;
    border: 1px solid #172a45;
}

#score {
    display: inline-block;
}

p {
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    line-height: 2em;
}

.alert {
    font-size: 1.6em;
    color: var(--gameover-color);
}

h2 {
    margin: 1em 0;
}

p.top,
p.icon {
    margin: 3em 0 0 0;

}
svg {
    fill: #64ffda;
    width: 25px;
}